body {
    margin-top: 20px;
    background-color: #eef1f5;
    color: #333740;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}
.card .card-header {
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #ced4da;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #333740;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #007bff;
    border-bottom-color: #007bff;
}
.nav-borders .nav-link {
    color: #495057;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Styles for left-aligned labels */
.form-label {
    text-align: left;
}

/* Adjust margin and padding for better spacing */
.form-control {
    margin-bottom: 10px;
}
